<!-- src/main/resources/templates/form.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Subscribe Form</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
<h1>Subscribe</h1>
<form th:action="@{/subscribers}" th:method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" /><br>
    <label for="surname">Surname:</label>
    <input type="text" id="surname" name="surname" /><br>
    <label for="msisdn">MSISDN:</label>
    <input type="text" id="msisdn" name="MSISDN" /><br>
    <label for="tariff_id">Tariff ID:</label>
    <input type="number" id="tariff_id" name="tariff_id" /><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>
